body {
    padding: 1em;
}

.notice {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    background-color: #fdd;
    border: 1px solid #faa;
    margin-bottom: 1em;
}
